@use '../abstracts/variables' as *;

button[type="submit"] {
  background-color: $accent-color;
  color: #fff;
  border: none;
  padding: $spacing-sm $spacing-lg;
  border-radius: 4px;
  cursor: pointer;
}