:root {
  --primary-color: #0a1128;
  --accent-color: #fca311;
  --bg-color: #f1f5f9;      // Ini warna abu-abu muda
  --panel-bg: #ffffff;      // Ini warna putih untuk kartu
  --text-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}